body{
    background-image: url(/img/galaxia.jpg);
    background-position: center;
}
h2{
    text-align: center;
    color: white;
}
.section1{
    font-size: 22px;
    font-family: sans-serif;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    color: white;
}
.astro{
    width: 15%;
    margin: 0 20px ;
}